<div class="login-container1">
  <div class="bg-ph"></div>
  <div class="wrapper-path-c">

    <div class="login-container2">
      <div class="login-container3">
        <div class="login-container4">
          
          <div class="login-header">
            <div class="vector-lines2 scl-mobile">
                <img src="./assets/img/img-linesdecor.svg">
            </div>
            <h1>Profile registration</h1>
            <div class="vector-lines2 scl-mobile">
                <img src="./assets/img/img-linesdecor.svg" class="inverted-line">
            </div>
          </div>

          <div class="login-container5">
            <div class="login-pic-c">
              <label for="imgfile" class="google-pic">
                <img [src]="imageURL">
              </label>
              <input type="file" accept="image/*" id="imgfile" name="imgfile" (change)="onFileSelect($event)" accept="image/png, image/jpeg">
            </div>

            <div class="login-form-c">
              <a href="Google-Login" class="btn-google2">
                <button>
                  <img alt="google logo" src="./assets/img/img-google.svg">
                  Sign up with Google
                </button>
              </a>
              <p>Or</p>
              <form (submit)="signUp()" class="login-container6">
                  <div class="login-form-c-labels">
                    <div class="login-form-c-input"> 
                      <label for="name">First Name*</label>
                      <input type="text" [(ngModel)]="user.name" name="name" id="name" placeholder="Your first name" required autofocus>
                      <span class="invalid-field" id="iname">Enter a valid name</span>
                    </div>
                    <div class="login-form-c-input"> 
                      <label for="lastName">Last Name*</label>
                      <input type="text" [(ngModel)]="user.lastName" name="last-name" id="lastName" placeholder="Your last name" required autofocus>
                      <span class="invalid-field" id="ilname">Enter a valid last name</span>
                    </div>
                  </div>
                  <div class="login-form-c-input"> 
                    <label for="email">email*</label>
                    <input type="email" [(ngModel)]="user.email" name="email" id="email" placeholder="E-mail" required>
                    <span class="invalid-field" id="iemail">Enter a valid email</span>
                  </div>
                  <div  class="login-form-c-input">
                    <label for="password">Password*</label>
                    <div class="passField">
                      <input type="password" [(ngModel)]="user.password" name="password" id="password"
                        placeholder="Create a password (8-20 symbols)" required>
                      <div class="show-password signupPage" (click)="togglePassword()">
                        <img id="pass-icon" src="./assets/img/visiblePass-false.svg">
                      </div>
                    </div>
                    <span class="invalid-field" id="ipass">Password must be between 8 and 20 characters</span>
                  </div>

                  <div class="login-button-c">
                    <div class="vector-lines3 scl-mobile">
                      <div class="vector5"></div>
                    </div>
                    <a class="dark-button"><button type="submit" value="signup">Register</button></a>
                    <div class="vector-lines3 scl-mobile">
                      <div class="vector5"></div>
                    </div>
                  </div>
                  
              </form>

            </div>
          </div>

     

        </div>
      </div>
    </div>
  
  </div>
</div>


<!--<div class="page-header">
  <div class="bg-ph">
  </div>

  <div class="boxregister signf">
    <div class="boxregisterinside">
      <div class="eheader-container">
        <div class="eheader">
          <div>
            <img src="./assets/img/img-linesdecor.svg">
            <h1>Profile Registration</h1>
            <img src="./assets/img/img-linesdecor.svg" class="inverted-line">
          </div>
        </div>
      </div>

      <label for="imgfile" class="google-pic">
        <img [src]="imageURL">
      </label>
      <input type="file" accept="image/*" id="imgfile" name="imgfile" (change)="onFileSelect($event)" accept="image/png, image/jpeg">
      <div id="wrapper">
        <div class="btn1">
          <a href="Google-Login" class="btn-google"><button><img alt="google logo"
                src="./assets/img/img-google.svg">Sign up with Google</button></a>
        </div>
        <p>Or</p><br><br>
        <form class="login-container" (submit)="signUp()">

          <div class="inputN">
            <div class="nameI">
              <label class="inputtext" for="name">First Name*</label>
              <input type="text" [(ngModel)]="user.name" name="name" id="name" placeholder="Your first name" required
                autofocus>
              <span class="invalid-field" id="iname">Enter a valid name</span>
            </div>
            <div class="nameI lastI">
              <label class="inputtext" for="lastName">Last Name*</label>
              <input type="text" [(ngModel)]="user.lastName" name="last-name" id="lastName" placeholder="Your last name"
                required autofocus>
              <span class="invalid-field" id="ilname">Enter a valid last name</span>
            </div>
          </div>

          <label class="inputtext" for="email">email*</label>
          <input type="email" [(ngModel)]="user.email" name="email" id="email" placeholder="E-mail" required>
          <span class="invalid-field" id="iemail">Enter a valid email</span>

          <label class="inputtext" for="password">Password*</label>

          <div class="passField">
            <input type="password" [(ngModel)]="user.password" name="password" id="password"
              placeholder="Create a password (8-20 symbols)" required>
            <div class="show-password signupPage" (click)="togglePassword()">
              <img id="pass-icon" src="./assets/img/visiblePass-false.svg">
            </div>
          </div>

          <span class="invalid-field" id="ipass">Password must be between 8 and 20 characters</span>

          <div class="btn-center">
            <div class="linegroup">
              <img alt="decor" src="./assets/img/img-line.svg">
              <button type="submit" value="signup" class="btn-darkb">Register</button>
              <img alt="decor" src="./assets/img/img-line.svg">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->