<div *ngIf="isLoaded" class="page-header">
    <div class="bg-ph">
    </div>
    <div class="forgot-box">

        <form *ngIf="!recovery" (submit)="forgotPassword()">
            <div class="forgot-box-t">
                <h1>Forgot your password?</h1>
                <p>Please enter your email address and we will send you a link to create a new password.</p>
            </div>
            <input [(ngModel)]="emailAddress" type="email" name="email" class="forgot-email" placeholder="E-mail"
                required>
            <span class="invalid-field" id="iemail">Enter a valid email</span>

            <button type="submit" class="forgot-send">Send</button>
        </form>

        <form *ngIf="recovery" (submit)="changePassword()">
            <h1>Reset your password</h1>

            <div class="passField">
                <input [(ngModel)]="password.newPass" type="password" name="password" class="forgot-email pass0"
                    id="new-password" placeholder="New password" required>
                <span class="invalid-field confirmPass" id="ipass">Password must be between 8 and 20 characters</span>
                <div class="show-password forgot0" (click)="togglePassword(0)">
                    <img id="pass-icon" class="icon0" src="./assets/img/visiblePass-false.svg">
                </div>
            </div>

            <div class="passField">
                <input [(ngModel)]="password.confirm" type="password" name="password" class="forgot-email pass1"
                    id="confirm-password" placeholder="Confirm password" required>
                <span class="invalid-field confirmPass" id="iconfirm">Passwords don't match</span>
                <div class="show-password forgot1" (click)="togglePassword(1)">
                    <img id="pass-icon" class="icon1" src="./assets/img/visiblePass-false.svg">
                </div>
            </div>


            <button type="submit" class="forgot-send">Send</button>
        </form>

        <a href="login" class="forgot-cancel"><button >Cancel</button></a>
        <div class="forgot-links">
            <div class="forgot-link1">
                <p>Still having issues? Please <a href="Contact-Us">Contact Us</a></p>
            </div>
            <div class="forgot-link1">
            <a *ngIf="!recovery" href="signup">Don't have an account?</a>
            </div>
        </div>
    </div>
</div>