<div class="about-container1"> 
    
    <div class="wrapper-path-c">
        <div *ngIf="!['Friend', 'Family member', 'Admin'].includes(role)" class="blur-container">
            <div class="blur-container2">
                <img alt="padlock" src="./assets/img/img-lock.svg">
            </div>
        </div> 
        
        <div class="path-dark">
            <a href="" class="pic-home"><img alt="Home Icon" src="./assets/img/img-home.svg"></a>
            <div class="pathnext-dark">
                <div class="img-arrow-dark">
                  <img alt="Arrow Icon" src="./assets/img/img-arrow.svg">
                </div>
                <a href="About-Us"><button>About us</button></a>
            </div>
        </div>


        <div class="about-container2">
            <div class="contact-header">
                <div class="vector-lines2 path-gray">
                    <img src="./assets/img/img-linesdecor.svg">
                </div>
                <h1>About us</h1>
                <div class="vector-lines2 path-gray">
                    <img src="./assets/img/img-linesdecor.svg" class="inverted-line">
                </div>
            </div>

            <div class="about-container3">
                <p>
                    However, they do realize the importance of a family then. Families are really essential as they help in our growth and development. They establish us into a complete person with which we create our own individual identity. Moreover, they always provide us with a sense of security and this gives us a safe environment.
                    We learn how to socialize from our families only and this will develop our intellect. Many studies show that people who live and stay with their families tend to be happier than ones living alone.
                    Families are the only ones who always believe in us when the whole world doubts us. Similarly, when we are down and out of control, they are the first ones to cheer you up. Certainly, it is a true blessing to have a positive family by our side.
                    However, they do realize the importance of a family then. Families are really essential as they help in our growth and development. They establish us into a complete person with which we create our own individual identity. Moreover, they always provide us with a sense of security and this gives us a safe environment.
                    We learn how to socialize from our families only and this will develop our intellect. Many studies show that people who live and stay with their families tend to be happier than ones living alone.
                </p>
                <div class="about-container4"> 
                    <div class="about-pic">
                        <img alt="Company Picture" src="./assets/img/aboutus.png">
                    </div>
                    <p>
                        Families are the only ones who always believe in us when the whole world doubts us. 
                        Similarly, when we are down and out of control, they are the first ones to cheer you up. 
                        Certainly, it is a true blessing to have a positive family by our side.
                    </p>
                </div>
            </div>

            <div class="about-container3-mobile">
                <p>
                    However, they do realize the importance of a family then. Families are really essential as they help in our growth and development. They establish us into a complete person with which we create our own individual identity. Moreover, they always provide us with a sense of security and this gives us a safe environment.
                </p>
                <div class="about-container4-mobile"> 
                    <div class="about-pic-mobile">
                        <img alt="Company Picture" src="./assets/img/aboutus.png">
                    </div>
                    <p>
                        Families are the only ones who always believe in us when the whole world doubts us. 
                        Similarly, when we are down and out of control, they are the first ones to cheer you up. 
                        Certainly, it is a true blessing to have a positive family by our side.
                    </p>
                    <hr>
                </div>
                <p>
                    We learn how to socialize from our families only and this will develop our intellect. Many studies show that people who live and stay with their families tend to be happier than ones living alone.
                    Families are the only ones who always believe in us when the whole world doubts us. Similarly, when we are down and out of control, they are the first ones to cheer you up. Certainly, it is a true blessing to have a positive family by our side.
                    However, they do realize the importance of a family then. Families are really essential as they help in our growth and development. They establish us into a complete person with which we create our own individual identity. Moreover, they always provide us with a sense of security and this gives us a safe environment.
                    We learn how to socialize from our families only and this will develop our intellect. Many studies show that people who live and stay with their families tend to be happier than ones living alone.
                </p>
            </div>
         </div>


    <!--<div class="path">
        <div class="path-web">
            <div class="img-home"><a href=""><img alt="Home Icon" src="./assets/img/img-home.svg"></a></div>
            <div class="pathnext">
            <div class="img-arrow"><img alt="Arrow Icon" src="./assets/img/img-arrow.svg"></div>
            <a href="About-us"><button>About us</button></a>
            </div>
        </div>
    </div>

    <div class =  eheader-container>
        <div class="eheader">
            <div>
                <img src="./assets/img/img-linesdecor.svg">
                <h1>About Us</h1>
                <img src="./assets/img/img-linesdecor.svg" class="inverted-line">
            </div>
        </div>
    </div>


    <div class="about-columns">
        <div *ngIf="!['Friend', 'Family member', 'Admin'].includes(role)" class="blur-cover"></div>
        <p class="about-column1">
        </p>

        <p class="about-column2">
        </p>
    </div>-->
</div>
